<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body>
    <div th:replace="fragments :: navbar-main-div"></div>
    <div th:replace="fragments :: headline"></div>

    <form>
        <fieldset>
            <legend>Add a Machine</legend>
            </hr>
            <div class="form-group">
                <label class="col-form-label mt-4"  >Search:</label>
                <input type="text" class="form-control" placeholder=""
                       id="pinballMachine">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Title
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Manufacturer
                </label>
            </div>
            <div class="form-check-label">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                    Year Released
                </label>
                <button type="submit" class="btn btn-primary btn-lg" >Search Database</button><br>

            </div>
        </fieldset>
    </form>

    <table>
        <tr >
            <td>
                <p>
                    Machine Name:
                </p>
                <p>
                    Manufacturer:
                </p>
                <p>
                    Year Released:
                </p>
            </td>
        </tr>
    </table>
</body>

</html>