<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body>
    <div th:replace="fragments :: navbar-main-div"></div>
    <div th:replace="fragments :: headline"></div>

    <h1>Machine Page</h1>

    <form>
        <fieldset>
            <legend>Add a Machine</legend>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Game Name</label>
                <input type="text" class="form-control" placeholder=""
                       id="pinballMachine">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Manufacturer</label>
                <input type="text" class="form-control" placeholder=""
                       id="manufacturer">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Year Released</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
            </div>
        </fieldset>
    </form>

</body>

</html>