<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body>
    <div th:replace="fragments :: navbar-main-div"></div>
    <div th:replace="fragments :: headline"></div>

    <!-- Form to Create New Account into site -->
        <form method ="post" action="/user/add" th:object="${user}">
            <fieldset>
                <legend>Create new account</legend>

                <!-- Email input -->
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control"
                           th:field="*{userEmail}" id="exampleInputEmail1"
                           aria-describedby="emailHelp" placeholder="Enter email" />
                    <small id="emailHelp" class="email-privacy">We will never share your
                        email</small><br>
                    <span class="error" th:errors="*{userEmail}"></span>
                </div>

                <!-- Password Inputs -->
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                    <input type="password" class="form-control" name="password"
                           th:field="*{userPassword}" id="exampleInputPassword1"
                           placeholder="Password">
                    <span class="error" th:errors="*{userPassword}"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Verify
                        Password</label>
                    <input th:type="password" class="form-control" name="verifyPassword"
                           th:text="${verifyPassword}" id="verifyInputPassword2"
                           placeholder="Re-type Password"><br>
                    <span class="error" th:text="${errors}"></span>
                </div>
            </fieldset>

                <!-- Button to Create Account -->
                <div class="sign-in-button">
                    <button type="submit" class="btn btn-primary btn-lg" >Create
                        Account</button><br>
                </div>
        </form>
</body>
</html>