<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
<body>
<div th:replace="fragments :: navbar-main-div"></div>
<div th:replace="fragments :: headline"></div>

<form action="/pinball_machines/add" >

    <legend th:text="${user.id}"></legend>
    <div class="sign-in-button">
        <button type="submit" class="btn btn-primary btn-lg">
            Let's Add A Machine!</button><br><br>

        <!--    <fieldset>-->
        <table class="table table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col">Your Machines</th>
                <th scope="col">Location of Machine</th>
                <th scope="col">High Scores</th>
            </tr>
            </thead>
            <tr class="table-primary">
                <th scope="row"></th>
                <td>Machine Names here</td>
                <td>High Scores here</td>
            </tr>
<!--    </fieldset>-->
        </table>
    </div>

</form>

</body>
</html>