<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/dropCatch.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">

    <title>Welcome to DropCatchSTL!!</title>

</head>

<body>

<!-- Nav Bar -->
<div th:fragment="navbar-main-div">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DropCatchSTL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="\pinball_machines/add">Machines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\search/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Already a Member?</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>

<!-- Headline -->
<div th:fragment="headline" class="headline">
    <h1>---DropCatchSTL---</h1>
    <p>Save those scores!!!</p>
</div>

</body>
</html>