<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body>
    <div th:replace="fragments :: navbar-main-div"></div>
    <div th:replace="fragments :: headline"></div>

    <div class="intro">
    <form action="/user/add">
        <p>Do you have trouble remembering your high scores? How about the place where you
            played "that one game, that one time"? DropCatchSTL is here to keep those blanks
            full! Save all of you data in one place so that you can reference it on-the-go at
            any time!!</p>
        <div class="sign-in-button">
            <button type="submit" href="user/add.html"
                    class="btn btn-primary btn-lg" >Create
                Account</button><br>
        </div>

    </form>
    </div>

</body>
</html>